DB_HOST=hothothot
DB_PORT=xxxx
DB_NAME=db_name
DB_USERNAME=db_user
DB_PASSWORD=db_password
DATABASE_URL="postgresql://db_user:db_password@localhost:5433/db_name"

PORT=3000
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1h